/*

filename: [index.css]

author: [Paveteran Elangovan]

created: [19/9/2026]

last modified: [22/9/2026]

description: [index.css is a CSS file that contains the styling for index.html.]

*/

footer {
    border-top: 3px solid black;
    clear: both;
    text-align: center;
}

* {
    font-family: georgia, serif; 
    color: black;
}

body{
    background-color:lightcyan;
    background-image: linear-gradient( cornflowerblue,lightsteelblue,lightcyan,
    lightsteelblue,cornflowerblue);
}

h1 {
    color: darkblue;
    font-size: 1.5em;
    text-align: center;
}

